.contenedor{
	width: 90%;
	padding: 2%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:20px;
}

.contacto{
	background: #82E0AA;
	padding: 20px;
	border-radius: 15px;
}

.contactos{
	text-decoration: none;
	color: #D35400;
}

.logo{
	width: 100px;
	height: auto;
}